<div>
  <p class="mat-display-1">display1</p>
  <p class="mat-display-2">display1</p>
  <p class="mat-display-3">display1</p>
  <p class="mat-display-4">display1</p>
  <p class="mat-h1">h1</p>
  <p class="mat-h2">h2</p>
  <p class="mat-h3">h3</p>
  <p class="mat-h4">h4</p>


  <p class="mat-headline">headline</p>
  <p class="mat-title">title</p>
  <p class="mat-body-1">body1</p>
  <p class="mat-body-2">body2</p>
  <p class="mat-subheading-1">Subheading 1</p>
  <p class="mat-subheading-2">Subheading 2</p>
  <p class="mat-button">button</p>
  <p class="mat-input">input</p></div>






<!--$headline: mat-typography-level(32px, 48px, 700),-->
<!--$body-1: mat-typography-level(16px, 24px, 500),-->
<!--$subheading-2: mat-typography-level(18px, 48px, 100),-->
