<div class="order-statement-container">
  <h2 style="justify-self: center; font-weight: 800">Statement of Purchase</h2>
  <h5 style="font-weight: 800; justify-self: center">{{itemDate()}}</h5>
  <h2>Shiping Information:</h2>
  <ng-container *ngTemplateOutlet="shippingTmpl; context: {shippi: item?.shippingInfo}"></ng-container>
  <h2>Items Purchased</h2>
  <ng-container *ngTemplateOutlet="basketTmpl; context: {basket: item?.order}"></ng-container>
  <h2>Payment</h2>
  <ng-container *ngTemplateOutlet="paymentTmpl; context: {paymentStatus: item?.paymentStatus, pint: item?.paymentIntent}"></ng-container>
</div>


<!--
===========================================================================================================

                          TEMPLATES

===========================================================================================================
-->


<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                          Shipping Information wrapper row
-->
<ng-template #flexRowTmpl let-fldname='fldname' let-labelname='labelname' let-shippi='shippi'>
  <div class="flex-row-2" *ngIf="shippi">
    <div class="field-label">{{labelname}}</div>
    <div class="field-value" ><div style="height: auto">{{shippi ? shippi[fldname] : ''}}</div></div>
  </div>
</ng-template>

<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                          Shipping Information
Details about the customer and shipping requirements
-->

<ng-template #shippingTmpl let-shippi="shippi">

  <div class="shipping-details">
    <ng-container
      *ngTemplateOutlet="flexRowTmpl; context:{shippi: shippi, fldname: 'firstName', labelname: 'First name:'}"></ng-container>
    <ng-container
      *ngTemplateOutlet="flexRowTmpl; context:{shippi: shippi, fldname: 'lastName', labelname: 'Last name:'}"></ng-container>
    <ng-container
      *ngTemplateOutlet="flexRowTmpl; context:{shippi: shippi, fldname: 'computedAddress', labelname: 'Adress:'}"></ng-container>
    <ng-container
      *ngTemplateOutlet="flexRowTmpl; context:{shippi: shippi, fldname: 'email', labelname: 'Email:'}"></ng-container>
  </div>
  <div class="payment-details">
  </div>
</ng-template>


<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                           Basket (items table)
-->
<ng-template #basketTableTmpl let-basket="basket">
  <!--  {{cart|json}}-->
  <table class="basket-table" *ngIf="basket">

    <thead>
    <tr [class.field-label]="">
      <td>Descriptions</td>
      <td>Options</td>
      <td>Qty</td>
      <td>Price</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let itm of basket.basketItems; let idx=index">
      <td><div>{{[itm.name, itm.choice.name].join(', ')}}</div></td>
      <td>{{this.joinOptions(itm.options)}}</td>
      <td>{{asBasketItmQty(itm)}}</td>
      <td style="text-align: right">{{itm.total| currency:'GBP'}}</td>
      <td style="text-align: right">{{itm.choice.price| currency:'GBP'}}</td>

    </tr>
    </tbody>
    <tfoot>
    <td></td>
    <td></td>
    <td>Total</td>
    <td>{{basket.total | currency:'GBP'}}</td>
    </tfoot>
  </table>
</ng-template>

<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                           Basket
-->
<ng-template #basketTmpl let-basket='basket'>

<!--  {{tryit(basket)}}-->
  <ng-container *ngTemplateOutlet="basketTableTmpl; context:{basket: basket}"></ng-container>

</ng-template>


<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                           Payment
-->
<ng-template #paymentTmpl let-paymentStatus="paymentStatus" let-pint="pint">
  <div>
    <div>Status:&nbsp;{{ paymentStatus}}</div>
    <div>ref:&nbsp;{{pint}}</div>
  </div>

</ng-template>

// http://localhost:4200/#/order-statement/Eo8ay2KrWM
