<div  [class]="this.styleClass === 'Std' ? 'incrementor-grid' : 'incrementor-grid-larger'"
     style="width: auto">
  <button mat-mini-fab class="incrementor-bn"
          (click)="subtract()">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <input (ngModelChange)="onInputConrolChanged($event)"
         class="numeric__input"

         *ngIf="value > 0 || (!this.showRemoveButton)"
         [(ngModel)]="value" >

  <button class="remove__bn"
          *ngIf="value < 1 && this.showRemoveButton"
          (click)="onRemoveBnClicked()">
    DELETE
  </button>

  <button mat-mini-fab class="incrementor-bn"
          (click)="add()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>


</div>

<!-- [ngClass]="isInline ? 'incrementer-container-inline' : 'incrementer-container' "-->
