<main id="main" role="main">

  <img width="100%"  loading="lazy" class="Slideshow__Image"
       src="//cdn.shopify.com/s/files/1/0274/7396/9235/files/Photo_Credits_Giulia_Mule_Rosslyn_11_x800.jpg?v=1595012147"
       alt="">

  <div [formGroup]="formGroup" fg>
    <div class="header">Contact</div>

    <mat-form-field
      class="Your name"
      appearance="outline">
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field
      class="Your email"
      appearance="outline">
      <input matInput  placeholder="email" formControlName="email">
    </mat-form-field>
    <mat-form-field
      class="message"
      appearance="outline">
      <textarea matInput  placeholder="Your message" formControlName="message"></textarea>
    </mat-form-field>
   <button  class="button" mat-flat-button>Send message</button>
  </div>


<!--<div>-->
<!--  <mat-icon  >alarm</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">done</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">add_shopping_cart</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">description</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">call</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">chat</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">add</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">create</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">mail</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">access_alarms</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">cloud_queue</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">point_of_sale</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">my_location</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">restaurant_meal</mat-icon>-->
<!--  <mat-icon-->
<!--    class="material-icons">menu</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">menu_open</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">more_horiz</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">more_vert</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">arrow_back</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">arrow_forward</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">close</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">apps</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">app_settings_alt</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">app_settings</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">free_breakfast</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">food_bank</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">storefront</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">cake</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">facebook</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">notifications</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">miscellaneous</mat-icon>-->
<!--  <mat-icon-->
<!--    class="">local_cafe</mat-icon>-->

<!--</div>-->

