/***
 *     _                              _
 *    | |                            | |
 *    | |  __ _  _   _   ___   _   _ | |_
 *    | | / _` || | | | / _ \ | | | || __|
 *    | || (_| || |_| || (_) || |_| || |_
 *    |_| \__,_| \__, | \___/  \__,_| \__|
 *                __/ |
 *               |___/
 */
.csnv-container {
  position: absolute;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  //height: calc(100vh - 49px);

  .csnv-header {
    margin-bottom: 10px;
    align-items: center;
    position: absolute;
    top: 0;

    box-sizing: border-box;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    width: calc(100%);
    padding-left: 3%;
    padding-right: 3%;
  }

  .csnv-footer {
    align-items: flex-start;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    overflow-x: scroll;
    width: calc(100%);
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgba(yellowgreen, 0.5);
  }



  .csnv-scrollable {
    border: 1px crimson solid;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    top: 70px;
    height: 100%;
    //todo undo to %.
    width: 100%;
    box-sizing: border-box;
   // margin: 10px;
  }
}

.cart-card {
  //> * { border: red solid 1px}
  max-width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 36px minmax(30ch, 30ch)  max-content 10ch;
  grid-template-rows: 36px min-content 1fr;

  .card-image {
    grid-column: 1;
    grid-row: 1 / span 3;
    width: auto;
    padding: 0;
    box-sizing: border-box;

    //background-color: orange;
    img {
      box-sizing: border-box;
      width: 100%;
      //object-fit: contain;
    }
  }

  .card-name {
    //background-color: blueviolet;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    max-height: 36px;
  }

  .card-choices-options {
    max-height: 72px;
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  .card-price {

    grid-column: 3;
    grid-row: 1;
  }

  .card-qty {
    grid-column: 2 / span 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    width: min-content;
  }

  .card-total {
    grid-column: 4;
    grid-row: 3;

    //layout of contents
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30%;
  }

  .card-divider {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }
}


/***
 *     _____  _           _  _
 *    /  ___|| |         | |(_)
 *    \ `--. | |_  _   _ | | _  _ __    __ _
 *     `--. \| __|| | | || || || '_ \  / _` |
 *    /\__/ /| |_ | |_| || || || | | || (_| |
 *    \____/  \__| \__, ||_||_||_| |_| \__, |
 *                  __/ |               __/ |
 *                 |___/               |___/
 */
.csnv-container {
  //background-color: palevioletred;
}

.csnv-header {
}

.csnv-footer {

}

.csnv-scrollable {
}

.cart-card {
  background-color: white;

  .card-name, .card-price {
    color: var(--grey-40);
    font: var(--font-regular-body);
    line-height: 36px;
  }

  .card-image {
    & img {
      border: 1px solid rgba(128, 128, 128, 0.56);
      padding: 2px;
      border-radius: 2px;
    }
  }

  .card-choices-options {
    padding-left: 8px;

    p {
      max-width: 30ch;
      word-break: break-all;
    }

    color: var(--grey-60);

    .material-icons {
      color: palevioletred;
      font-size: 15px;
      line-height: 22px;
      padding-right: 8px;
    }
  }

  .card-price {
    text-align: center;
  }

  .card-qty {
    padding-left: 8px;
  }

  .card-total {
    background-color: #bde5da;
    text-align: end;
    border-radius: 2px;
  }

}


