<div class="csnv-container">
  <div class="csnv-header">

    <button (click)="this.sideNav?.close()" mat-icon-button style="margin: 20px 0 20px 20px">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
    <button mat-stroked-button
            *ngIf="!isEmptyBasket()"
            color="primary"
            (click)="removeAllAction()">
      Clear
    </button>
  </div>
  <div class="csnv-scrollable">
    <div class="emptyBasket" *ngIf="this.isEmptyBasket()">
      Cart empty
    </div>
    <ng-container *ngTemplateOutlet="ShopCartListTmpl"></ng-container>
  </div>
  <div class="csnv-footer">
    <button mat-stroked-button
            style="color: white"
            (click)="this.sideNav?.close()">
      CONTINUE
    </button>

    <button mat-raised-button
            *ngIf="!isEmptyBasket()"
            color="accent"
            (click)="onCheckout()">
      CHECKOUT {{basket?.total | currency: 'GBP'}}
    </button>
  </div>

</div>

<!--
*_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~

                        TEMPLATES

*_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~
-->


<!-- TEMPLATE:                                  Cart List -->
<ng-template #ShopCartListTmpl>

  <ng-container *ngFor="let item of basket?.basketItems, let idx = index">

    <div class="cart-card">
      <div class="card-image">
        <img [src]="e(item).thumbImg.url">
      </div>
      <div class="card-name">
        {{e(item).nameChoice}}
        {{e(item).choice.price | currency:'GBP'}}
      </div>

      <div class="card-price">
<!--        {{e(item).choice.price | currency:'GBP'}}-->
      </div>

      <div class="card-choices-options">
        <ng-container *ngIf="e(item).optionsDescList">
          <p>{{e(item).optionsDescList}} </p></ng-container>

      </div>

      <div class="card-qty">

        <app-numeric-incrementer
          (ngModelChange)="onQtyChanged($event, idx)"
          (removeItmClicked)="removeAction(idx)"
          [(ngModel)]="item.qty"
          styleClass="Lrg"
          [showRemoveButton]="true"></app-numeric-incrementer>

      </div>
      <div class="card-total">

        {{e(item).total | currency:'GBP'}}
      </div>

    </div>
    <mat-divider class="card-divider"></mat-divider>
  </ng-container>

</ng-template>
