
//   ~_* ~_* ~_* ~_* ~_* ~_* ~_* ~_* ~_* ~_* ~_*        LAYOUT
.csnv-container {
  height: calc(100vh - 50px);
  width: 100%;
  display: grid;
  grid-template-rows: 100px auto 50px;

  .csnv-header {
    margin-bottom:10px;
  }

  .csnv-footer {

  }

  .csnv-scrollable {
    overflow-y: scroll;
    margin: 10px;
  }
}

.cart-card {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 36px 72px 1fr 1fr;

  .card-image {
    grid-column: 1;
    grid-row: 2 / span 3;
    width: auto;
    //background-color: orange;
    img {

    }
  }

  .card-name {
    //background-color: blueviolet;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    //background-color: red;
    text-align: center;
    max-height: 36px;
  }

  .card-choices-options {
   max-height: 72px;
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  .card-price {

    grid-column: 3;
    grid-row: 1;
  }

  .card-qty {
    grid-column: 2;
    grid-row: 3;
    max-width: 200px;

  }

  .card-total {

    grid-column: 1 / span 3;
    grid-row: 4;

    //layout of contents
    display: flex;
    flex: 1 1 auto;
    //justify-content: flex-end;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30%;

  }

  .card-divider {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }

}


//   ~_* ~_* ~_* ~_* ~_* ~_* ~_* ~_* ~_* ~_* ~_*       STYLING
.csnv-container {

}

.csnv-header {
  //background-color: green;
  //margin-bottom: 220px;
}

.csnv-footer {
  //background-color: yellowgreen;
}

.csnv-scrollable {

}

.cart-card {
  background-color: white;

  .card-name {
    //background-color: blueviolet;
  }
.card-image {
 & img {
   border: 1px solid rgba(128, 128, 128, 0.56);
   padding: 2px;
   border-radius: 2px;
 }
}
  .card-choices-options {
    //background-color: lightcyan;
    word-break: break-all;
    span {
      font-weight: bolder;
      font: var(--font-smaller-sub-heading12-inconsolata)
    }
  }

  .card-price {
    text-align: center;
  }

  .card-qty {
    //background-color: black;

  }

  .card-total {
    //background-color: turquoise;
    text-align: center;

  }

  .card-divider {

  }

}


