<div class="csnv-container">

  <!--  Header-->
  <div class="csnv-header">
    <button (click)="this.sideNav?.close()"
            class="closeBtn"
            mat-icon-button>
      <mat-icon class="material-icons">close</mat-icon>
    </button>

    <button mat-ripple
            [matRippleUnbounded]="true"
            [matRippleColor]="'charcoal'"
            class="deleteBtn labelIconAmount"
            *ngIf="!isEmptyBasket()"
            (click)="removeAllAction()">
      <span class="material-icons">remove_shopping_cart</span>
<!--      <span class="material-icons">delete_sweep</span>-->
      <span style="word-spacing: -0.18em">Clear all</span>
    </button>

  </div>

  <!-- Scrolling content area-->
  <div class="csnv-scrolling-area">
    <div class="emptyBasket" *ngIf="this.isEmptyBasket()">

      <span class="material-icons">production_quantity_limits</span>
     <p>Empty</p>
    </div>
    <ng-container *ngTemplateOutlet="ShopCartListTmpl"></ng-container>
  </div>

  <!--  Bottom action-toolbar -->
  <div class="csnv-footer">
    <button mat-icon-button
            style="color: var(--grey-60); margin-left: 16px"
            (click)="this.sideNav?.close()">
      <span class="material-icons">arrow_back_ios</span>
    </button>

    <button class="labelIconAmount"
            mat-ripple
            [matRippleUnbounded]="true"
            [matRippleColor]="'charcoal'"
            *ngIf="!isEmptyBasket()"
            (click)="onCheckout()">

      <span class="material-icons">point_of_sale</span>
      <span style="word-spacing: -0.18em">Check out</span>
    </button>

    <div class="total-box">
   <span *ngIf="basket; else emptyTotalTmpl">
     {{basket?.total| currency: 'GBP'}}
 </span>
    </div>
    <ng-template #emptyTotalTmpl>
      <span>£0.00</span>
    </ng-template>

  </div>
</div>
<!--
*_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~

                        TEMPLATES

*_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~
-->


<!-- TEMPLATE: Cart List -->
<ng-template #ShopCartListTmpl>

  <ng-container *ngFor="let item of basket?.basketItems, let idx = index">

    <div class="cart-card">
      <div class="card-image">
        <img [src]="e(item).thumbImg.url">
      </div>
      <div class="card-name">
        <!--       Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab distinctio ducimus error excepturi facilis harum iste, magni molestias nam natus numquam odio odit praesentium ratione sed tempore, velit! Ea!-->
        {{e(item).nameChoice}}
        @ {{e(item).choice.price | currency:'GBP'}}


      </div>

      <div class="card-price">
        <!--        {{e(item).choice.price | currency:'GBP'}}-->
      </div>

      <div class="card-choices-options">
        <ng-container *ngIf="e(item).optionsDescList">
          <p>{{e(item).optionsDescList}} </p></ng-container>

      </div>

      <div class="card-qty">

        <app-numeric-incrementer
          (ngModelChange)="onQtyChanged($event, idx)"
          (removeItmClicked)="removeAction(idx)"
          [(ngModel)]="item.qty"
          styleClass="Lrg"
          [showRemoveButton]="true"></app-numeric-incrementer>

      </div>
      <div class="card-total">

        {{e(item).total | currency:'GBP'}}
      </div>

    </div>
    <!--    <mat-divider class="card-divider"></mat-divider>-->
    <!--    <div>&nRightarrow;</div>-->
  </ng-container>
  <div class="spacer60px"></div>
</ng-template>

