<div class="csnv-container">

<!--  Header-->
  <div class="csnv-header">
    <button (click)="this.sideNav?.close()" mat-icon-button style="margin: 20px 0 20px 20px">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
    <div data-note="spacing div"></div>
    <button mat-icon-button

            *ngIf="!isEmptyBasket()"
            color="primary"
            (click)="removeAllAction()">
     <span class="material-icons">delete_sweep</span>
    </button>
  </div>

<!-- Content scrolling area-->
  <div class="csnv-scrolling-area">
    <div class="emptyBasket" *ngIf="this.isEmptyBasket()">
      Cart empty
    </div>
    <ng-container *ngTemplateOutlet="ShopCartListTmpl"></ng-container>
  </div>
  <div class="csnv-footer">
    <button mat-icon-button
            style="color: var(--font-color-light)"
            (click)="this.sideNav?.close()">
      <span class="material-icons">arrow_back_ios</span>
    </button>

<!--    <button mat-flat-button-->
<!--            *ngIf="!isEmptyBasket()"-->
<!--            (click)="onCheckout()">-->
<!--      <span class="buy-label"> BUY &nbsp;</span>-->
<!--      <span>{{basket?.total | currency: 'GBP'}}</span>-->
<!--    </button>-->
<!--  </div>-->
    <button class="labelIconAmount"
            mat-ripple [matRippleUnbounded]="true" [matRippleColor]="'charcoal'"
            *ngIf="!isEmptyBasket()"
            (click)="onCheckout()">
      <span>{{basket?.total | currency: 'GBP'}}</span>
      <span class="material-icons">point_of_sale</span>
      <span >CheckOut</span>
    </button>


</div>

<!--
*_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~

                        TEMPLATES

*_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~
-->


<!-- TEMPLATE:                                  Cart List -->
<ng-template #ShopCartListTmpl>

  <div class="csnv-scrollable" *ngFor="let item of basket?.basketItems, let idx = index">

    <div class="cart-card">
      <div class="card-image">
        <img [src]="e(item).thumbImg.url">
      </div>
      <div class="card-name">
<!--       Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab distinctio ducimus error excepturi facilis harum iste, magni molestias nam natus numquam odio odit praesentium ratione sed tempore, velit! Ea!-->
         {{e(item).nameChoice}}
         @ {{e(item).choice.price | currency:'GBP'}}


      </div>

      <div class="card-price">
<!--        {{e(item).choice.price | currency:'GBP'}}-->
      </div>

      <div class="card-choices-options">
        <ng-container *ngIf="e(item).optionsDescList">
          <p>{{e(item).optionsDescList}} </p></ng-container>

      </div>

      <div class="card-qty">

        <app-numeric-incrementer
          (ngModelChange)="onQtyChanged($event, idx)"
          (removeItmClicked)="removeAction(idx)"
          [(ngModel)]="item.qty"
          styleClass="Lrg"
          [showRemoveButton]="true"></app-numeric-incrementer>

      </div>
      <div class="card-total">

        {{e(item).total | currency:'GBP'}}
      </div>

    </div>
    <mat-divider class="card-divider"></mat-divider>
  </div>

</ng-template>
