@use "../../../_styles/components";
$plaster: #e7d8ca ;
$plaster-200: darken($plaster, 50%) ;
//$color1:  var(--color-plaster);
$color2: mix(rgba(231,216,202, .85), $plaster-200, 99%);
$color3: mix(rgba(231,216,202,1), #f6f0f2, 80%);

$breakpoint2: 374px;
/***
 *     _                              _
 *    | |                            | |
 *    | |  __ _  _   _   ___   _   _ | |_
 *    | | / _` || | | | / _ \ | | | || __|
 *    | || (_| || |_| || (_) || |_| || |_
 *    |_| \__,_| \__, | \___/  \__,_| \__|
 *                __/ |
 *               |___/
 */
.csnv-container {
  position: relative;
  height: calc(100% - 0px);
  width: calc(100% - 0px);
  overflow: hidden;
  box-sizing: border-box;

  display: grid;
  grid-template-rows: 50px 1fr 60px;
  grid-template-columns: 1fr;
  grid-auto-flow: column;

  .csnv-header {
    position: relative;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content;

    .closeBtn {
color: var(--grey-60);
      position: absolute;
      // top: -2px;
      right: 6px;
    }
    .deleteBtn {
      position: relative;
      left: 24px;
     // color: whitesmoke;
      //text-shadow: 1px 1px 3px var(--grey-80);
      //-webkit-text-stroke-width: .03rem;
      //-webkit-text-stroke-color: var(--grey-10);
      //font-size: 22px;
      margin-top: 1px;
      margin-bottom: 2px;
    }
  }

  .csnv-footer {
    grid-row: 2/ span 2;
    grid-column: 1/ span 1;
    width: calc(100%);
    height: 50px;
    //height: max-content;
    align-self: end;
    display: grid;
    grid-template-columns: 60px repeat(2, 1fr);
    z-index: 1000;
  }

  .csnv-scrolling-area {
    grid-row: 2/ span 2;
    grid-column: 1 / span 1;
    height: 100%;
    position: relative;
    overflow-y: scroll;
  }

  .csnv-scrollable {
    overflow-x: auto;
    overflow-y: scroll;
    box-sizing: border-box;
  }
}

.cart-card {
  //> * { border: red solid 1px}
  padding: 22px;
  display: grid;
  grid-template-columns:  1fr  1fr 100px 10px;
  //grid-template-columns: 50px minmax(10ch, 10ch)  1fr 10ch;
  grid-template-rows: min-content min-content 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 8px;

  .card-image {
    grid-column: 3;
    grid-row: 2 / span 2;
    width: auto;
    padding: 0;
    box-sizing: border-box;
    @media (max-width : $breakpoint2) {
      grid-column: 1;
      grid-row: 4 / span 1;
    }

    img {
      box-sizing: border-box;
      width: 100%;
      //object-fit: contain;
    }
  }

  .card-name {
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: start;
    word-break: break-word;
    display: block;

  }

  .card-choices-options {
    max-height: 72px;
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .card-price {
    grid-column: 3;
    grid-row: 1;
  }

  .card-qty {
    grid-column: 1 / span 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    width: min-content;
  }

  .card-total {
    grid-column: 3;
    grid-row: 4;

    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30%;
    @media (max-width : $breakpoint2) {
      outline: red 1px dashed;
      grid-column: 1;
      grid-row: 5 / span 1;
    }
  }

  .card-divider {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }
}


/***
 *     _____  _           _  _
 *    /  ___|| |         | |(_)
 *    \ `--. | |_  _   _ | | _  _ __    __ _
 *     `--. \| __|| | | || || || '_ \  / _` |
 *    /\__/ /| |_ | |_| || || || | | || (_| |
 *    \____/  \__| \__, ||_||_||_| |_| \__, |
 *                  __/ |               __/ |
 *                 |___/               |___/
 */
.csnv-container {
  background-color: var(--background-color1);
}

.csnv-scrolling-area {
  padding-left: 30px;
  padding-right: 30px;
 .spacer60px {
   width: 100%;
   height: 60px;
   background: transparent;
  }

}
.emptyBasket {
  background: radial-gradient(transparent 10%, var(--grey-10) 90%);
  position: relative;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  //align-content: center;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  width: min-content;
  font-size: 26px;
  border: .3rem double var(--color-plaster);
  border-radius: 50%;
  padding: 20px 35px;
  :first-child {
   color: var(--color-deep-red);
    font-size: 56px;
  }
  :nth-child(2) {
    font-size: 16px;
  }
}
.csnv-header {
  align-content: center;
  align-items: center;

  background: linear-gradient(to  top, $color2 10%, $color3 90%);
  box-shadow: 1px 0 4px 1px #c0b2a7;
}

.csnv-footer {
  box-sizing: border-box;
  align-content: center;
  align-items: center;

  //background: linear-gradient(to  bottom, $color2 10%, $color3 90%);
  background: linear-gradient(to  top, $color3 40%, $color2 90%);
  box-shadow: 1px 0 4px 1px #c0b2a7;

  .total-box {
    font: var(--font-16px-light-open-sans);
    height: calc(100% - 10px);
    justify-self: end;
    position: relative;
    overflow: hidden;
    //background-color: red;
    background-color: var(--color-glow-sand);
    -webkit-text-stroke-width: .03rem;
    color: var(--grey-90);
    //-webkit-text-stroke-color: #a61d1d;

    :first-child {
      display: inline-block;
      position: relative;
      padding: 0 28px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
button.labelIconAmount {
  @include components.IconLabelButton1;
}

.cart-card {
  max-width: 400px;
  margin: 8px auto;
  background-color: white;
  @include components.card-shadow;

  .card-name, .card-price {
    color: var(--grey-80);
    letter-spacing: -.02em;
    word-spacing: .15em;
    font: var(--font-head600-14px);
    font-size: 15px;
    //color:red;
    padding-right: 5px;
  }

  .card-image {
    & img {
      border: 1px solid rgba(128, 128, 128, 0.56);
      padding: 2px;
      border-radius: 2px;
    }
  }

  .card-choices-options {
    //padding-left: 8px;
    font: var(--font-head4-12px);
    //font: var(--font-regular-body);

    p {
      //letter-spacing: .05em;
      word-spacing: -.05em;
      max-width: 30ch;
      word-break: break-all;
    }

    color: var(--grey-50);

    .material-icons {
      color: palevioletred;
      font-size: 15px;
      line-height: 22px;
      padding-right: 8px;
    }
  }

  .card-price {
    text-align: center;

  }

  .card-qty {
    padding-left: 0px;
  }

  .card-total {
    // border: 1px solid crimson;

    background-color: rgba(#bde5da,.18);
    text-align: end;
    border: .03rem dashed rgba(#bde5da,.18);
    border-radius: 2px;
    font: var(--font-12px-light-open-sans);
    max-height: 50px;
    line-height: 36px;
    align-self: end;
  }

}


