* {
  --bcol1 : green;
  --map-width: 95%;
}


.map-visit-container {
 // border: 1px solid var(--bcol1);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  //display: flex;
  //flex-flow: row wrap;
  //justify-content: center;
  padding: 5% 5%;
}
.match-parent {
width: var(--map-width);
  height: calc(var(--map-width) * 2 / 3);
//height: var(--width);


}

