<div class="horizontal-slidebar"
     (mouseover)="onMouseOverHorizontalSlidebar()">

  <div class="arrow-left-bn" [ngClass]="{hideout:leftvis}">
    <button
      (click)="doScroll('l')">
      ❮
    </button>
  </div>
  <div class="arrow-right-bn" [ngClass]="{hideout:rightvis}">
    <button

      (click)="doScroll('r')">
      <!--      <mat-icon class="mat-18">keyboard_arrow_right</mat-icon>-->
      ❯
    </button>
  </div>
  <div
    (scroll)="onScroll()"
    class="scrollable" #scrollable>
    <a
      (click)="onClicked(item)"
      class="span-item"
      *ngFor="let item of _items">{{item }}</a>
  </div>
</div>
