@use "./src/_styles/components";
//
.about-img-container {
height: 50vh;
  overflow-x: scroll;
  object-fit: cover;
}

iframe {
  width: 100%;
  border: none;
  overflow-y: visible;
}


.content-page{
  padding: 0 10%;

  @include components.ContentStyles(body);
 >.sub-heading {

     @include components.ContentStyles(sub-heading);
  }

  >p {
    @include components.ContentStyles(body);
  }

}



