html {
  scroll-behavior: smooth;
}

/***
 *     _                              _
 *    | |  __ _  _   _   ___   _   _ | |_
 *    | | / _` || | | | / _ \ | | | || __|
 *    | || (_| || |_| || (_) || |_| || |_
 *    |_| \__,_| \__, | \___/  \__,_| \__|
 *               |___/
 */

// overall container
.cc-container {
  position: relative;
  height: calc(100vh - 50px);
  overflow-y: hidden;

}

//<-- Scrollable card list wrapper.
.cc-list-wrapper {
  box-sizing: border-box;
  display: flex;
  padding-top: 50px;
  flex-flow: wrap row;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
}

.card-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 8px;
  justify-items: center;
}

// <-- slidebar at the top of the screen.
.horizontal-slidebar {
  position: fixed;
  min-width: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  top: 49px;
  z-index: 1000;
  display: flex;
  flex-flow: nowrap row;
  overflow-x: scroll;
  height: 50px;

  .span-item {
    //padding: 8px 8px;
    white-space: nowrap;
    text-align: center;
    vertical-align: center;
    border-bottom: solid 2px transparent;
    transition: border-bottom-color 250ms;

    &:hover {
      border-bottom-color: var(--component-background-color2);
      transition: border-bottom-color 1750ms;
    }
  }
}

.category-header {
  width: 100vw;
  position: relative;
  display: grid;
  height: 80px;
  font: var(--font-regular-sub-heading20-inconsalata);
  line-height: 88px;
  box-sizing: border-box;
  -webkit-text-stroke-width: .02em;
  -webkit-text-stroke-color: rgba(82, 43, 43, 0.04);
  text-shadow: 0 .01em .03em var(--grey-70);


  :first-child {
    position: relative;
    width: max-content;

    align-self: center;
    justify-self: center;
  }

  .offset-anchor {
    visibility: hidden;
    transform: translateY(-130px);
    transition: opacity 250ms, visibility 250ms 250ms;
  }
}

.card-layout {
  flex: 1 1 28%;
  max-width: 300px;
  overflow-x: hidden;

  //todo debug borders.
  //* {
  //  border: 1px solid lightgrey
  //}

  //descendeant props
  box-sizing: border-box;
  padding: 16px;
  display: grid;
  width: calc(100% - 23px);
  grid-template-columns: 60% 40%;
  grid-template-rows: min-content 80px min-content 25px;
  grid-row-gap: 8px;

  .product-name {
    grid-row: 1;
    grid-column: 1 / span 2;

  }

  .product-description {
    grid-row: 3;
    grid-column: 1 / span 2;

  }

  .product-price {
    grid-row: 4 / span 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;

    span {
      vertical-align: bottom;
      line-height: 18px;
    }

  }

  .product-image {

    grid-row: 1 /span 2;
    grid-column: 1/ span 2;
  }
}


/***
 *     __  _           _  _
 *    / _\| |_  _   _ | |(_) _ __    __ _
 *    \ \ | __|| | | || || || '_ \  / _` |
 *    _\ \| |_ | |_| || || || | | || (_| |
 *    \__/ \__| \__, ||_||_||_| |_| \__, |
 *              |___/               |___/
 */

//<-- Scrollable card list wrapper.
.cc-list-wrapper {

}

.horizontal-slidebar {
  background-color: #fafafa;;
  box-shadow: -1px 1px 12px 3px var(--grey-40);
  border: 1px solid var(--grey-30);
  border-left: none;
  border-right: none;

  .span-item {
    flex: 1 0 90px;
    display: inline;
    padding: 8px 8px;
    font: var(--font-smaller-sub-heading);
    font-family: "Arial Black", monospace;
    color: var(--grey-80);
    user-select: none;

  }
}

.card-layout {
  .product-name, .product-description, .product-price {
    user-select: none;

  }

  background-color: white;
  margin: 1%;
  border: 1px solid var(--grey-10);
  padding: 8px;
  overflow-y: hidden;
  transition: box-shadow 500ms, transform 500ms cubic-bezier(1,.66,.29,1.01);


  &:hover {
    transition: box-shadow 500ms, transform 500ms cubic-bezier(1,.66,.29,1.01);
    box-shadow: 0px 2px 3px 2px darkgray;
    transform: scale(1.02);
  }

  .product-description {
    margin: 0 8px;
    font: var(--font-smaller-sub-heading12);
    color: var(--grey-80);
    overflow-y: hidden;
    max-height: 200px;
  }

  .product-price {
    margin-left: 8px;
    line-height: 28px;
    width: calc(40% - 8px);
    color: black;
    font: var(--font-regular-sub-heading16-inconsalata);
  }

  .product-name {
    box-sizing: border-box;
    margin:  0;
    font: var(--font-regular-sub-heading16-inconsalata);
    text-shadow: 0 .01em .03em;
    word-spacing: -3px;
    overflow: hidden;
    color: var(--grey90);
    //color: var(--color-plaster);
    z-index: 1000;
    background: linear-gradient( to bottom , var(--toolbar-color) 35%, rgba(white,0) 70%);
    padding: 12px;
  }

  .product-image {
    background: linear-gradient( to bottom right , var(--toolbar-color) 45%, rgba(white,0) 99%);

    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 90px;
      object-fit: scale-down;
      clip-path: circle(45px at center);
      transform: translateY(10px);
    }
  }
  .product-image:nth-child(2) {
    background-color: red;
  }
}

.spacer {
  position: relative;
  box-sizing: border-box;
  //z-index: 1000;
  height: 50vh;
  display: block;
  width: 100%;

}

@media (hover: hover) and (pointer: coarse) {
  .mat-card:hover {
    transition: border 500ms;
  }
}
