<div class="cc-container">

  <mat-progress-spinner
    *ngIf="isLoading"
    mode="indeterminate"
    color="primary">
  </mat-progress-spinner>
  <div class="cc-list-wrapper" id="ccListWrapper">

    <!-- Categories ribbon. -->
    <ng-container *ngTemplateOutlet="CategoriesRibbonTmpl; context:{prods: prods$| async}"></ng-container>


    <ng-container *ngFor="let prod of prods$| async">
      <div class="category-header"

           style="text-transform: capitalize">
        <div [id]="prod[0]"
             style="position: relative;
                      transform: translateY(-128px);
                      display: block;
                      "></div>
        {{prod[0]}}
      </div>
      <ng-container *ngTemplateOutlet="cardTmpl; context:{prods: prod[1]}"></ng-container>

    </ng-container>
    <div class="spacer">
    </div>

  </div>
</div>

<!--
===============================================================================================

                          TEMPLATES
===============================================================================================
-->


<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                         Horizontal Slider bar.
-->
<ng-template #CategoriesRibbonTmpl let-prods=prods>
  <div class="horizontal-slidebar">
    <mat-slide-toggle (toggleChange)="this.repo.cacheresults  = !this.repo.cacheresults">CACHE</mat-slide-toggle>
    {{this.repo.cacheresults}}
    {{this.repo.id}}
    {{this.id}}
    <a
      (click)="scrollToId(prod[0])"
      class="span-item"
      *ngFor="let prod of prods">{{prod[0] }}</a>
  </div>
</ng-template>


<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                         Product Item Card.
-->
<ng-template #cardTmpl let-prods=prods>

  <div class="card-layout mat-elevation-z5"

       (click)="onChooseProduct(prod)"
       *ngFor="let prod of prods">

    <p class="product-name">{{prod.name}}</p>


    <div class="product-description">
      {{prod.description}} </div>


    <div class="product-price">
      {{prod.lowestPrice() | currency: "GBP"}}
    </div>
    <div class="product-image" id="product-image" [appCustomImg]>
      <img [src]="prod.thumbImg.url">
    </div>

  </div>
</ng-template>
