html {
  scroll-behavior: smooth;
}

//                                            ==== LAYOUT

// overall container
.cc-container {
  width: 100vw;
}

// scrollable list wrapper
.cc-list-wrapper {
  box-sizing: border-box;
  display: flex;
  padding-top: 50px;
  flex-flow: wrap row;
  overflow-y: scroll;
  height: calc(90vh);
  width: 100vw;
  justify-content: center;
}


// slidebar at the top
.horizontal-slidebar {
  position: fixed;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  top: 48px;
  z-index: 1000;
  display: flex;
  flex-flow: nowrap row;
  overflow-x: scroll;
  height: 50px;

  .span-item {
    //padding: 8px 8px;
    white-space: nowrap;
    text-align: center;
    vertical-align: center;
    border-bottom: solid 2px transparent;
    transition: border-bottom-color 250ms;

    &:hover {
      border-bottom-color: var(--component-background-color2);
      transition: border-bottom-color 1750ms;
    }
  }
}

.category-header {
  //position: sticky;
  top: -8px;
  flex: 0 0 auto;
  width: 100%;
  padding-left: 16px;
  vertical-align: bottom;
  height: 80px;
  font: var(--font-regular-sub-heading);
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  border-bottom: double 5px whitesmoke;
  box-sizing: border-box;
}

.card-layout {
  // own div prop
  flex: 1 1 28%;
  max-width: 30%;
  min-width: 300px;
  overflow-x: hidden;

  //descendeant props
  box-sizing: border-box;
  padding: 16px;
  display: grid;
  width: calc(100% - 23px);
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto 25px;
  grid-row-gap: 8px;

  .product-name {
    width: auto;
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .product-description {
    grid-row: 2;
    grid-column: 1;
  }

  .product-price {
    grid-row: 3 / span 2;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;

    span {
      vertical-align: bottom;
      line-height: 18px;
    }

  }

  .product-image {
    grid-row: 1 /span 3;
    grid-column: 2;
  }
}


//                                            ==== STYLING

.horizontal-slidebar {
  background-color: #fafafa;;
  box-shadow: -1px 1px 12px 3px var(--grey-40);
  border: 1px solid var(--grey-30);
  border-left: none;
  border-right: none;

  .span-item {
    flex: 1 0 90px;
    display: inline;
    padding: 8px 8px;
    //text-align: center;
    font: var(--font-smaller-sub-heading);
    font-family: "Arial Black", monospace;
    //vertical-align: center;
    color: var(--grey-80);
    //border: 1px solid greenyellow;
    //background-color: lightcyan;
    user-select: none;

  }
}

.card-layout {
  .product-name, .product-description, .product-price {
    user-select: none;
  }

  background-color: white;
  margin: 1%;
  border: 1px solid var(--grey-10);
  padding: 8px;
  overflow-y: hidden;

  &:hover {
    //outline: 2px solid dodgerblue;
    transition: box-shadow 500ms;
   box-shadow: 0px 2px 3px 2px darkgray;
  }

  //@media (max-width: 550px) {
  //  max-width: 100%;
  //  flex: 1 1 50%;
  //  margin: 4% 8%;
  //}

  .product-description {
    margin: 0 8px;
    font: var(--font-smaller-sub-heading12);
    border: none;
    color: var(--grey-80);
    overflow-y: hidden;
    max-height: 200px;
    //background-color: palegoldenrod;
  }

  .product-price {
    margin-left: 8px;
    line-height: 28px;
    width: calc(40% - 8px);
    color: black;
    font: var(--font-regular-sub-heading16-inconsalata);
  }

  .product-name {
    box-sizing: border-box;
    margin: 0 8px;
    font: var(--font-regular-sub-heading16-inconsalata);
  }

  .product-image {
    overflow-x: hidden;
    display: block;
    width: 100%;
    // border: 1px solid crimson;

    img {

      object-fit: fill;
    }
  }
}

.spacer {
  position: relative;
  box-sizing: border-box;
  //z-index: 1000;
  height: 100vh;
  display: block;
  width: 100%


}


@media (hover: hover) and (pointer: coarse) {
  .mat-card:hover {
    transition: border 500ms;
  }
}
