<!--  Toolbar-->
<ng-container *ngTemplateOutlet="mainToolbarTmpl"></ng-container>

<!-- SideNav container-->


<mat-sidenav-container>


  <!--  Cart and Checkout drawer-->

  <mat-sidenav position="end"
               [opened]="checkoutSidenavOpened"
               (openedStart)="openedStartCartDrawer()"
               mode="over"
               #CartDrawer>

    <click-collect-cart [cartSideNav]="CartDrawer">
    </click-collect-cart>

  </mat-sidenav>

  <!--  Navigation SideNav-->


  <mat-sidenav opened="false"
               mode="push"
               (openedStart)="openedStartNavDrawer()"
               #NavDrawer>
    <div class="app-scrollable">
      <ng-container *ngTemplateOutlet="NavigationDrawerTmpl"></ng-container>
    </div>

  </mat-sidenav>


  <!--  SideNav Content area -->

  <mat-sidenav-content>

    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

  </mat-sidenav-content>


</mat-sidenav-container>


<!--
==============================================================================

                        T E M P L A T E S

==============================================================================
-->


<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                         Click collect button.
-->
<ng-template #ClkCltBnTmpl>
  <div class="click-collect-btn">
    <!--    <mat-icon style="color: #8b3500;">bolt</mat-icon>-->
    <button routerLink="click-collect"
            (click)="navDrawer?.close()">CLICK & COLLECT
    </button>
  </div>

</ng-template>


<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                         Toolbar.
-->
<ng-template #mainToolbarTmpl>
  <mat-toolbar class="top-mat-toolbar">

    <button (click)="this.navDrawer?.toggle()"
            mat-icon-button>

      <mat-icon>menu</mat-icon>

    </button>

    <button class="home-title-bn"
            (click)="navDrawer?.close()"
            routerLink="home">
      <div class="tx-div">Sconz</div>
      <div class="tx-div"></div>
    </button>
    <span class="tx-div"></span>

    <basket-icon-button [cartSideNav]="this.cartDrawer"></basket-icon-button>
  </mat-toolbar>

</ng-template>


<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                        Navigation Draw Contents.
-->
<ng-template #NavigationDrawerTmpl>

  <button (click)="navDrawer?.close()"
          mat-icon-button
          style="margin: 20px 0 20px 20px">
    <mat-icon>close
    </mat-icon>
  </button>


  <!--     Click and collect Button. -->
  <ng-container *ngTemplateOutlet="ClkCltBnTmpl"></ng-container>
<mat-accordion displayMode="flat">
  <mat-expansion-panel  [expanded]="isExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Shop
      </mat-panel-title>
    </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false" class="expandable">
          <mat-list-option (click)="navDrawer?.close()"
                           [routerLink]="[route[0]]"
                           *ngFor="let route of [
                           ['shop/coffee','Coffee'],
                           ['shop/training', 'Training'],
                           ['shop/vouchers','Vouchers'],
                           ['shop/gift=subs', 'Subscriptions'],
                           ]">  {{route[1]}}

          </mat-list-option>
        </mat-selection-list>
  </mat-expansion-panel>
</mat-accordion>

  <mat-selection-list class="sellist" [multiple]="false">
    <mat-list-option (click)="navDrawer?.close()" routerLink="home">
      <div mat-line>HOME</div>
      <mat-icon mat-list-icon>home</mat-icon>
    </mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option (click)="navDrawer?.close()"
                     [routerLink]="[route[0]]"
                     *ngFor="let route of [
                     ['about', 'About'],
                     ['brew-guides','Brew'],
                     ['visit','Visit'],
                     ['contact','Contact'],
                     ['settings','Settings', 'Settings'],
                     ]">

      <mat-icon matTooltip="Dev settings" *ngIf="route[2]">settings</mat-icon>
      <span *ngIf="!route[2]">{{route[1]}}</span>

      <mat-divider></mat-divider>
    </mat-list-option>

    <mat-list-item>
      <span style="margin: 0 auto; font-size: 13px; letter-spacing: 2px">V.{{version}}</span>
    </mat-list-item>
  </mat-selection-list>


</ng-template>
