<!--  Toolbar-->
<ng-container *ngTemplateOutlet="mainToolbarTmpl"></ng-container>
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<!-- SideNav container-->

<template>
  <mat-sidenav-container>


    <!--  Cart and Checkout drawer-->
    <!--    todo comment out sidenav-->
    <!--  <mat-sidenav position="end"-->
    <!--               [opened]="checkoutSidenavOpened"-->
    <!--               (openedStart)="openedStartCartDrawer()"-->
    <!--               mode="over"-->
    <!--               #CartDrawer-->
    <!--  >-->

    <!--    todo put component inside template ot removeit from tree-->
    <ng-template>
      <!--    <v69-shopcart-drawer [cartSideNav]="CartDrawer">-->
      <!--    </v69-shopcart-drawer>-->
    </ng-template>
    <!--  </mat-sidenav>-->

    <!--  Navigation drawer-->


    <mat-sidenav opened="false"
                 mode="push"
                 (openedStart)="openedStartNavDrawer()"
                 #NavDrawer>
      <div class="app-scrollable">
        <ng-container *ngTemplateOutlet="NavDrawerTmpl"></ng-container>
      </div>

    </mat-sidenav>


    <!--  SideNav Content area -->

    <mat-sidenav-content>

      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>

    </mat-sidenav-content>


  </mat-sidenav-container>
</template>


<!--
==============================================================================

                        TEMPLATES

==============================================================================
-->


<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                         Click collect button.
-->
<ng-template #ClkCltBnTmpl>

  <div style="background-color: transparent;
              margin-bottom: 10px;
              border:none;text-align: center">
    <button mat-raised-button
            color="accent"
            style="color: white;
                   font-family: Special Elite, sans-serif;
                   font-size: 22px;
                  padding: 16px"
            routerLink="click-collect"
            (click)="navDrawer?.close()">
      <mat-icon style="color: #8b3500;">bolt</mat-icon>
      CLICK AND COLLECT

    </button>
  </div>
</ng-template>


<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                         Toolbar.
-->
<ng-template  #mainToolbarTmpl>
  <mat-toolbar class="top-mat-toolbar">

    <button (click)="this.navDrawer?.toggle()"
            mat-icon-button>

      <mat-icon>menu</mat-icon>

    </button>

    <button class="home-title-bn"
            (click)="navDrawer?.close()"
            routerLink="home">
      <div class="tx-div">Scone </div>
      <div class="tx-div">Zone</div>
    </button>
    <span class="tx-div"></span>
<button mat-icon-button routerLink="home">
  <mat-icon>home</mat-icon>
</button>
    <v69-basket-icon [cartSideNav]="this.cartDrawer"></v69-basket-icon>
  </mat-toolbar>

</ng-template>


<!--
~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_ ~~_
                        Navigation Draw Contents.
-->
<ng-template #NavDrawerTmpl>

  <button (click)="navDrawer?.close()"
          mat-icon-button
          style="margin: 20px 0 20px 20px">
    <mat-icon>close
    </mat-icon>
  </button>


  <!--     click and collect-->
  <ng-container *ngTemplateOutlet="ClkCltBnTmpl"></ng-container>

  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Shop
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="false" class="expandable">
      <mat-list-option (click)="navDrawer?.close()"
                       [routerLink]="[route[0]]"
                       *ngFor="let route of [
                       ['shop/coffee','Coffee'],
                       ['shop/training', 'Training'],
                       ['shop/vouchers','Vouchers'],
                       ['shop/gift=subs', 'Subscriptions'],
                       ]">  {{route[1]}}

      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>

  <mat-selection-list class="sellist" [multiple]="false">
    <mat-list-option (click)="navDrawer?.close()"
                     [routerLink]="[route[0]]"
                     *ngFor="let route of [
                     ['about', 'About'],
                     ['brew-guides','Brew'],
                     ['visit','Visit'],
                     ['contact','Contact'],
                     ['settings','Settings', 'Settings'],
                     ]">

      <mat-icon  matTooltip="Dev settings" *ngIf="route[2]">settings</mat-icon>
      <span *ngIf="!route[2]">{{route[1]}}</span>

      <mat-divider></mat-divider>
    </mat-list-option>

    <mat-list-item>
      <span style="margin: 0 auto; font-size: 13px; letter-spacing: 2px">V.{{version}}</span>
    </mat-list-item>
  </mat-selection-list>


</ng-template>
