$toolbar-height: 49px;
$toolbar-color: #fffcf3;
$background-color1: red; //hsla(0,15,19%);
:host {
  //--toolbar-height: 140px;
  //--toolbar-color: green; // #fffcf3;

  display: block;
  //height: 100%;   //fix 1
  width: 100vw;
  //position: fixed;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
}

.app-scrollable {
  position: absolute;
  box-sizing: border-box;
  height: calc(100% - 50px);
 width: 100%;
  overflow-y: scroll;
  margin-bottom: 50px;
  //border-bottom: double red 5px;
}

.top-mat-toolbar {
  height: $toolbar-height;
  //background-color: purple;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--component-background-color2);
  //color: red;
  color: $toolbar-color;
}
.cart-drawer {
width: 100%;
}


mat-sidenav-container {
  position: absolute;
  top: 49px;
  height: calc(100% - 49px);
  background-color: var(--background-color1);

  mat-sidenav-content {
    width: 100vw;
  }
}
.mat-sidenav-routes{
  min-width: 250px;
  border: 4px solid lightgoldenrodyellow;
  @media(max-width: 320px){
    width: 250px;
    border: 4px solid blue;
  }
  @media(min-width: 320px ) {
    width: 300px;
    border: 4px solid yellowgreen;
  }
  @media(min-width: 414px ) {
    width: 400px;
    border: 4px solid red;
  }
  @media(min-width: 800px ) {
    width: 600px;
    border: 4px solid orange;
  }
}
.mat-sidenav-cart {
  //min-width: 400px;
  border: 1px solid green;
  @media(max-width: 375px){
    width: 300px;
    border: 1px solid blue;
  }
  @media(min-width: 375px ) {
    width: 300px;
    border: 1px solid mediumpurple;
  }
  @media(min-width: 414px ) {
    width: 400px;
    border: 1px solid orange;
  }
  @media(min-width: 800px ) {
    width: 600px;
  }
}
.mat-drawer {
  background-color: var(--background-color1);

}

.mat-expansion-panel {
  background-color: var(--background-color1);
  border: none;
  outline: none;
  box-shadow: none;
}

.mat-panel-title {
  font-size: 17px !important;
  height: 70px !important;
  padding-left: 15px;
  margin-top: 50px;
  font-weight: 100 !important;
}

.mat-selection-list {
  margin: 0 9%;
  padding-left: 0;
}

// The styles use for the spacing
.expandable > .mat-list-option.mat-list-option {
  font-size: 17px !important;
  height: 35px !important;
  padding-left: 0;
  //color: darken(lightblue, 10%);
  font-weight: 100 !important;

}

.sellist > .mat-list-option.mat-list-option {
  font-size: 17px !important;
  height: 70px !important;
  padding-left: 0;
  //color: red;
  font-weight: 100 !important;

}

.mat-divider {
  border-color: var(--divider-grey-1);
  border-width: 1px;
  //outline: #323131 1px solid;
}

span:nth-child(3) {
  margin: 0 auto 0 0;
}

.home-title-bn {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 0 0 auto;
  white-space: pre;
  letter-spacing: .1em;
  font-size: 36px;
  font-family: 'Special Elite', cursive;
}

.tx-div {
  margin-right: 13px;
  display: inline-block;
  color: var(--toolbar-color);
  //color: red;
  &:first-letter {
    font-size: 28px;

  }
}

.mat-list-option, .mat-expansion-panel-header {
  font-family: var(--font-family);
}

#clickcollect {
  background-color: white;
}

.click-collect-btn {
  background-color: var(--button-color);

  button {
    width: 100%;
    min-width: 100%;
    background-color: transparent;
    border: none;
    padding: 20px;
    color: white;
    font-family: Special Elite, sans-serif;
    font-size: 22px;

    &:hover {
      color: #efefef;
      box-shadow: 1px 1px 1px 0px var(--grey-30);
      transition: box-shadow 500ms;
    }
  }

  margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .mat-drawer {
    background-color: var(--background-color1);
    //min-width: 65%;
  }

  span:nth-child(3) {
    margin: 0 auto 0 0;
  }
  .home-title-bn {
    background-color: var(--component-background-color2);
    color: var(--toolbar-color);
    border: none;
    margin: 0 0 0 auto;
    white-space: pre;
    letter-spacing: .1em;
    font-size: 13px;
  }

  .tx-div {
    margin-right: 1px;
    display: inline-block;
    color: var(--toolbar-color);

    &:first-letter {
      font-size: 18px;
    }
  }
}
