<!--<mat-bottom-sheet-container>-->
<div class="ccbs-container" [formGroup]="this.formGroup">


  <!--  topbar-->
  <div class="ccbs-topbar">
    <div class="topbar-name">{{this.data.name}}</div>

    <button class="closeBtn"
            mat-ripple
            (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <!--Content Area-->
  <div class="ccbs-content-area">
    <!--  Banner Image-->

    <div class="ccbs-img-container" >
   <img [src]="prod.thumbImg.url">
    </div>

    <!--  Name, Description, Increment template-->

    <ng-container *ngTemplateOutlet="incrementTmpl"></ng-container>


    <!--  Product Selection-->

    <ng-container *ngTemplateOutlet="productChoiceTmp"></ng-container>

    <!--  Product Choices-->

    <div class="ccbs-choices">

      <ng-container *ngTemplateOutlet="ProductOptionsTmpl"></ng-container>
      <ng-container *ngTemplateOutlet="OrderInstructionsTmpl"></ng-container>
    </div>

  </div>

  <!--  Bottom Actionbar-->
  <ng-container *ngTemplateOutlet="BottomActionbarTmpl;context: {total: total}"></ng-container>
</div>
<!--
 *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~

                         TEMPLATES

 *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~ *_~~
 -->


<!--
 ------------------------------------------------------------------------------------------
 TEMPLATE:      Product Options (ancillary soya etc.)
------------------------------------------------------------------------------------------
 -->


<ng-template #ProductOptionsTmpl>
  <ng-container [formGroup]="formGroup">
    <mat-selection-list formControlName="options">
      <mat-list-option *ngFor="let ch of data.options"
                       [value]="ch"
                       style="font-size: 10px">
        <div style="display: flex; justify-content: space-between">
          <span style="font-size: 14px"> {{ch.name}}</span>
          <span>{{ch.price}}</span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </ng-container>

</ng-template>


<!--
-----------------------------------------------------------------------------------------
TEMPLATE: Product Choices  (variation of product size, flavour, color etc)
------------------------------------------------------------------------------------------
-->
<ng-template #productChoiceTmp>
  <p class="ccbs-product-choose-label"><span>Available Choices </span></p>

  <div class="ccbs-product-choose"
       [formGroup]="formGroup">
    <mat-radio-group aria-label="Select an option"
                     formControlName="choice">
      <mat-radio-button *ngFor="let ch of data.choices"
                        [value]="ch">
        <span style="max-width: 25ch"> {{ch.name}}</span>
        <span style="white-space: pre"> @ £{{ch.price }}</span>
      </mat-radio-button>

    </mat-radio-group>
  </div>

</ng-template>

<!--
------------------------------------------------------------------------------------------
TEMPLATE:     Bottom actionbar
-------------------------------------------------------------------------------------------->

<ng-template #BottomActionbarTmpl let-total='total'>
  <div class="ccbs-bottom-actionbar" [formGroup]="formGroup">
<!--    <ng-container *ngTemplateOutlet="SaveBtnTmpl"></ng-container>-->
    <button (click)="dimissAndSave()"
            mat-ripple [matRippleUnbounded]="false"
            class="labelIconAmount">
      <span class="material-icons">add_shopping_cart</span>
      <span>CART</span>
    </button>

    <button class="labelIconAmount"
            mat-ripple [matRippleUnbounded]="true" [matRippleColor]="'charcoal'"
            (click)="payNow()">
      <span class="material-icons">point_of_sale</span>
      <span >PAY</span>
    </button>
    <div class="total-box"><span>Total</span>
    <span>  {{total | currency: "GBP" }}</span> </div>
<!--<div>{{total}}</div>-->
  </div>


</ng-template>

<!--
------------------------------------------------------------------------------------------
TEMPLATE:     Name description and Qty tmpl
------------------------------------------------------------------------------------------
-->

<ng-template #incrementTmpl>
  <div [formGroup]="formGroup" style="margin-top: 25px">
    <app-numeric-incrementer
      [showRemoveButton]="true"
      styleClass="Lrg"
      formControlName="qty">
    </app-numeric-incrementer>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput readonly [value]="data.description"></textarea>
    </mat-form-field>

  </div>
</ng-template>


<!--
 ------------------------------------------------------------------------------------------
 TEMPLATE:     Special Instuctions tmpl.
 ------------------------------------------------------------------------------------------
  -->

<ng-template #OrderInstructionsTmpl>
  <ng-container [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Special Instructions, Other..</mat-label>
      <textarea matInput formControlName="instructions"></textarea>
      <!--  <p>{{this.prod.description}}</p>-->
    </mat-form-field>
  </ng-container>
</ng-template>


<!--
------------------------------------------------------------------------------------------
TEMPLATE:     Add to Order button
------------------------------------------------------------------------------------------
 -->

<ng-template #SaveBtnTmpl>
  <button (click)="dimissAndSave()"
          mat-ripple [matRippleUnbounded]="false"
          class="labelIconAmount">
    <span class="material-icons">add_shopping_cart</span>
    <span>Add to cart</span>
  </button>


<!--  </button>
  .amount-label .action-label .icon-style
-->

  <button class="labelIconAmount"
          mat-ripple [matRippleUnbounded]="true" [matRippleColor]="'charcoal'"
          (click)="payNow()">
    <span class="material-icons">point_of_sale</span>
    <span >Pay now</span>
  </button>

  <span style="color: var(--font-color-light)">{{total | currency: "GBP" }} </span>
</ng-template>
