<!--<picture>-->


<!--  <source media="(min-width: 1000px)" srcset="./assets/photos/Rosslyn_11_2200x.webp">-->
<!--  <source media="(min-width: 500px)" srcset="./assets/photos/last_one_2200x.jpg">-->
<!--&lt;!&ndash;  <img srcset="assets/photos/Rosslyn_11_x800.jpg">&ndash;&gt;-->
<!--</picture>-->
<!--<ng-container appImgSrcset1></ng-container>-->
<img loading="lazy"
     srcset=
       "https://parsefiles.back4app.com/fZTnKcHmI10Bqv2avtNiRQzaxFotKVFMLTF9tR7i/e9fa7e4ef0bb030a9f39036e96306c8f_art-2235-sm.jpg">

<h2 style="padding: 10%">Welcome to V69 London premier Coffee store</h2>
<!--src="./assets/photos/R_Coffee_Filter_2_1600x.jpg"-->
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ex ratione totam veritatis! Aliquam,
  blanditiis dolorem error est expedita inventore iure labore, laborum obcaecati placeat quisquam rem repellat totam.
  Fugit.
</div>
<div>Amet, at autem commodi culpa cum deleniti dicta distinctio ducimus eaque enim eveniet exercitationem illo impedit
  laboriosam quae quod tempore veritatis voluptates. Culpa cumque deleniti, dolores incidunt laboriosam minima vero?
</div>
<div>Amet cupiditate dolor dolore doloremque doloribus eaque earum facilis fugiat ipsa ipsam modi mollitia neque nobis
  porro quisquam rem, repellat rerum? Animi consequuntur dolores ea expedita hic labore sequi sint.
</div>
<div>Ab alias architecto assumenda consequatur cupiditate ea eum facere fuga ipsum maxime nobis, omnis pariatur ratione,
  reiciendis rerum similique sunt velit, voluptates. Architecto distinctio itaque officiis quia quod reiciendis
  voluptatem?
</div>
<div>Ab animi blanditiis dolores doloribus eligendi enim est facere hic, laudantium mollitia, neque quibusdam quidem
  ratione reiciendis repellendus saepe sint tenetur voluptatem! A adipisci aliquid dolorum facere fugiat, incidunt
  tenetur.
</div>
<div style="color: purple">Consectetur dolores illum laboriosam nostrum totam? A eaque exercitationem fugit harum perspiciatis provident
  recusandae, sit soluta voluptas voluptatem? Doloremque eos id itaque libero officiis placeat sed sequi soluta
  temporibus voluptates.
</div>
<div>Animi consectetur consequuntur culpa et facere fuga harum ipsam iure laboriosam magni maiores molestiae molestias
  nemo nisi odit omnis perspiciatis praesentium, quae quam qui repellat repellendus rerum tempora, vero voluptatum.
</div>
<div>Animi, architecto assumenda culpa eaque earum iusto odit quam reiciendis voluptate. Blanditiis distinctio et iusto
  molestias perspiciatis. Atque consequuntur dignissimos dolores esse ex illum iusto laborum, nobis saepe tempora totam.
</div>
<div>Aliquam architecto assumenda beatae consectetur dolorem dolores, ea eius eligendi est et expedita id incidunt iusto
  labore laborum magni, officia quae repudiandae, sed sequi sint sunt suscipit unde vero voluptate.
</div>
