<!--<picture>-->


<!--  <source media="(min-width: 1000px)" srcset="./assets/photos/Rosslyn_11_2200x.webp">-->
<!--  <source media="(min-width: 500px)" srcset="./assets/photos/last_one_2200x.jpg">-->
<!--&lt;!&ndash;  <img srcset="assets/photos/Rosslyn_11_x800.jpg">&ndash;&gt;-->
<!--</picture>-->
<!--<ng-container appImgSrcset1></ng-container>-->
<img loading="lazy"
     srcset=
       "https://parsefiles.back4app.com/fZTnKcHmI10Bqv2avtNiRQzaxFotKVFMLTF9tR7i/e9fa7e4ef0bb030a9f39036e96306c8f_art-2235-sm.jpg">

<h2 style="padding: 10%">Welcome to V69 London premier Coffee store</h2>
<!--src="./assets/photos/R_Coffee_Filter_2_1600x.jpg"-->
