@use "_styles/components";
@forward "_styles/components";
//@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 1 999;
}

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$RosyLookLike1-primary: mat-palette($mat-brown);
$RosyLookLike1-accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$RosyLookLike1-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$RosyLookLike1-theme: mat-light-theme((
  color: (
    primary: $RosyLookLike1-primary,
    accent: $RosyLookLike1-accent,
    warn: $RosyLookLike1-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($RosyLookLike1-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  margin: 0;
}

$background: #fffcf3;
$color: #323131;

:root {

  // ** Font sizes
  --font-size-regular: 14px;
  --font-size-larger: 16px;
  --font-size-sub-heading-regular-first-letter: 26px;
  --font-size-sub-heading-larger-first-letter: 27px;

  // ** Font styles

  --font-family-inconsolata: 'Inconsolata', monospace;
  --font-family-syne: 'Syne Mono', cursive;
  --font-family-opensans: 'Open sans', sans-serif;
  --font-family: 'Special Elite', cursive;
  --theme-font-family: var(--theme-font-family);

  //--font-family: 'Quicksand', sans-serif;
  //--font-family: 'Quicksand', sans-serif;


  --font: 100 16px/24px var(--font-family);
  --font-col-title: 100 18px/24px var(--font-family);
  // used for p > 500px
  --font-regular-body: 300 15px/26px var(--font-family);
  --font-body-12px: 600 12px/16px var(--font-family-inconsolata);
  --font-12px-light-open-sans: 400 12px/16px var(--font-family-opensans);
  --font-16px-light-open-sans: 400 16px/18px var(--font-family-opensans);
  --font-head4-12px: 600 12px/16px var(--font-family-inconsolata);
  --font-head600-14px: 600 14px/16px var(--font-family-inconsolata);
  // used for p < 500px
  --font-larger-body: 400 16px/26px var(--font-family);
  // used like h3
  --font-smaller-sub-heading: 800 14px/22px var(--font-family);

  --font-smaller-sub-heading12: 800 12px/22px var(--font-family);
  --font-smaller-sub-heading12-inconsolata: 800 12px/22px var(--font-family-inconsolata);

  --font-regular-sub-heading: 400 26px/48px var(--font-family);
  --font-regular-sub-heading16-inconsalata: 500 16px/22px var(--font-family-inconsolata);
  --font-16px-wt600-inconsalata: 700 14px/22px var(--font-family-inconsolata);
  --font-regular-sub-heading20-inconsalata: 500 20px/22px var(--font-family-inconsolata);

  --font-larger-sub-heading: 400 28px/48px var(--font-family);
  // used like a caption
  --font-caption-1: 400 16px/26px var(--font-family);

  --toolbar-height: 140px;
  --toolbar-color: #fffcf3;
  --background-color1: #fffcf3; // #fffaf0; hsla(0,15,19%); hsl(39,100,97)
  --font-color-light: #e7d8ca; // #fffaf0; hsla(0,15,19%); hsl(39,100,97)
  --component-background-color2: rgba(50, 49, 49, 1); //hsla(0,15,19%);;
  --caption-grey-1: #a5a2a2;
  --subdued-grey: var(--caption-grey-1);
  --divider-grey-1: rgba(201, 195, 195, 0.5);

  //tiadic colors
  --tricolor-1: #fcf9e0;
  --tricolor-2: #ecf6f1;
  --tricolor-3: #fa7ffa;

  // greys
  --grey-100: rgba(50, 49, 49, 1);
  --grey-90: rgba(50, 49, 49, 0.9);
  --grey-80: rgba(50, 49, 49, 0.8);
  --grey-70: rgba(50, 49, 49, 0.7);
  --grey-60: rgba(50, 49, 49, 0.6);
  --grey-50: rgba(50, 49, 49, 0.5);
  --grey-40: rgba(50, 49, 49, 0.4);
  --grey-30: rgba(50, 49, 49, 0.3);
  --grey-10: rgba(50, 49, 49, 0.1);
  --warning: red;
  // oranges.
  --button-color: #EFCF67;
  --color-orange-70: rgba(239, 207, 103, .7);
  --color-orange-100: rgba(239, 207, 103, 1);
  --color-glow-sand: rgb(239, 207, 103);

  --color-pastel-bluegreen: rgba(246, 232, 138, 0.42);
  --color-plaster: #e7d8ca;

  // yellows
  --yellow-100: #FEFBF1;
  --yellow-200: #FBF3DA;
  --yellow-300: #F9ECC3;
  --yellow-400: #F6E5AC;
  --yellow-500: #F4DE95;
  --yellow-500-alpha-50: rgba(244, 222, 149, .7);
  --yellow-600: #EFCF67;
  --yellow-700: #EAC039;
  --yellow-800: #E8B922;
  --yellow-900: #D9AB17;
  --yellow-1100: #C29914;
  --yellow-1200: #AB8712;


  // Pinks
  --pink-10: #F8F2ED;
  --pink-20: #F0E6DC;
  --pink-20-alpha-50: rgba(240, 230, 220, .6);
  --pink-30: #E8D9CA;
  --pink-40: #e7d8ca;
  --pink-50: #CAA582;
  --pink-70: #C29870;
  --pink-80: #BA8C5E;
  --pink-90: #B37F4D;
  --pink-100: #A17245;

  //Reds.

  --color-medium-pink: rgb(234, 78, 114);
  //--color-deep-red: hsl(29, 39%, 25%);
  --color-deep-red: rgb(168, 64, 67);


  //semantics colors
  --font-body-color: var(--grey-80);
}

$font-colors: (
  "100" : var(--component-background-color2),
  //"200" : lighten(var(--component-background-color2, .9)),
);

$custom-typography: mat-typography-config(
  $font-family: 'Special Elite' sans-serif,
    //$font-family:'Quicksand, sans-serif',
    //$font-family: 'Bitter',
  $headline: mat-typography-level(32px, 48px, 700), //h1
  $body-2: mat-typography-level(12px, 24px, 300),
  $body-1: mat-typography-level(.73rem, 19px, 300),
  $subheading-2: mat-typography-level(14px, 28px, 200), //h3
  $subheading-1: mat-typography-level(18px, 48px, 300), //h4
  $title: mat-typography-level(18px, 48px, 300), // h2
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

//
//
// Overides Material Design;
//
//
.mat-list-option {
  color: $color;
  font-size: 21px !important;
  font-weight: 200 !important;
}

@media screen and (max-width: 400px) {
  :root {
    --font: 300 16px/24px var(--font-family);
    --font-body-color: var(--grey-80);
  }
}

